$bpanels: #E5E9EC;
$bheadings: #fff;
$blinks: #006494;
//$blinks: #17ACB3;

body.buddypress {
	#primary {
		background: #f5f5f5;
	}
}

#whats-new-form {
    padding: 20px;
    background: #e5e9ec;
}


#buddypress {
	
	a {
		color: $blinks;
	}
	div.item-list-tabs {
		background-color: $hft_dark;
		ul {
			li {
				padding: 0;
				&:hover {
					a {
						background-color: $bpanels;
						color: $hft_dark;
						opacity: .9;
					}
				}
				&.selected, &.current {
					&:hover {
						a {
							background-color: $bpanels;
						}
					}
					a {
						color: $hft_dark;
						background-color: $bpanels;
						opacity: 1;
					}
				}
				a {
					color: $bheadings;
					transition: background-color .3s;
					span {
						&.no-count {
							display: none;
						}
			            &.count {
				            background: $hft_cta;
						    padding: 3px 4px;
					        line-height: 10px;
					        border-radius: inherit;
					        border: none;
				            vertical-align: text-top;
				            color: #fff;
			            }
					}
				}
			}
		}
		&#subnav {
			margin: 0 0 20px;
			background-color: $bpanels;
			ul {
				li {
					padding: 0px;
					&:hover {
						a {
							background-color: $bheadings;
							opacity: .9;
						}
					}
					label {
						display: inline;
					}
					form {
						margin: 0;
						label {
							display: inline;
						}
					}
					a {
						color: $hft_dark;
						background-color: $bpanels;
						transition: all .3s;
					}
					&.last {
						margin-right: 4px;
						margin-bottom: 4px;
					}
				}
			}
		}
	}
	#item-body {
		.profile {
			margin-bottom: 20px;
		}
		form.standard-form {
/*
		    width: 50%;
		    margin: 20px auto;
*/
			@include respond(all-phones) {
				width: 100%;
			}
		    input[type=email], input[type=password] {
			    width: 100%;
		    }
		    input[type=submit] {
			    width: inherit;
		    }
		}
		.message-search {
			margin: 4px 4px 0 0;
			form {
				margin: 0;
			}
		}
	}
	
	table {
		&.forum,
		&.messages-notices,
		&.notifications,
		&.notifications-settings,
		&.profile-fields,
		&.wp-profile-fields {
			tr {
				td {
					&.label {
						height: inherit;
						line-height: inherit;
						color: inherit;
						display: table-cell;
					}
				}
			}
		}
	}
	.activity {
		ul {
			li {
				display: block;
				background: #fff;
				padding: 10px;
				margin-bottom: 10px;
				.activity-avatar {
					.activity-header {
						a.activity-time-since {
						    display: inline-block;
						    font-size: 10px;
						}
					}
				}
				.activity-content {
					.activity-meta {
						margin: 5px 0 2px;
					}
				}
				.activity-comments {
					margin: 0;
					ul {
						padding: 0;
						li {
							.acomment-avatar {
								
							}
							.acomment-meta {
								
							}
							.acomment-content {
								margin: 5px 0 0 0;
							}
							.acomment-options {
							    margin: 0px 0 5px 0px;
							}
						}
					}
				}
			}
		}
	}
	
	.activity-list {
		li {
			.activity-content {
				margin: 0px;
				clear: both;
			}
			&.mini {
				.activity-avatar {
					img.FB_profile_pic, img.avatar {
						margin-left: 0;
					}
				} 
			}
		}
	}
}


.widget-area {
	&.buddypress {
		aside {
		    background: $bpanels;
		    display:block;
		    @include transition-property(all);
			@include transition-duration($fade-duration);
			padding: 10px;
			margin-bottom: 10px;
			.widget-title {
				font-size: 1em;
				font-weight: bold;
				color: $hft_dark;
				margin-bottom: 10px;
			}
			a {
				color: $blinks;
			    @include transition-property(all);
				@include transition-duration($fade-duration);
				&:hover {
					color:lighten($blinks, 20%);
				}
			}
		}
	}
}
