/*Start Resets*/

h1.text-logo {
	font-size: 1.5rem;
	padding: 15px 0;
}
h1.text-logo-sf {
	position: absolute;
	text-indent: -9999px;
	font-size: 0;
}

h1.text-logo a {
	color: #fff;
}

h2.site-description {
	text-indent: -9999px;
	position: absolute;
	font-size: 0;
}

ul{
	list-style: disc;
	padding-left: 22px;
	li{
		float: none;
		display: inline-block;
	}
	&.menu{
		padding-left: 0px;
		list-style: none;
		li{
			padding-bottom: 0;
			a{
				padding: 5px 15px;
			}
		}
	}
}

ul.social-links {
    text-align: center;
}

ul.social-links li {
    margin:0 10px;
}

.site-title {
	color: #6c6c6c;
}	
.fa{
	color: #6c6c6c;
}
.entry-title{
	color: $hft_dark;
    font-weight: bold;
   	a{
		color: #6c6c6c;
	}
}
.entry-meta{
	a{
		color: #6c6c6c;
		&:hover{
			color: lighten( #6c6c6c, 10% );
		}
	}
}

h2.patients-header {
    color: #a8d3e2;
    font-size: 3rem;
    font-weight: 700;
    padding: 30px 0 10px 0;
}

.clearfix{
	clear: both;
}

/* Admin Bar Fix - when a fixed menu is used */
.logged-in {
	.navbar {
		&.fixed {
			margin-top: 32px;
		}		
	}
}
/* End Admin Bar Fix - when a fixed menu is used */


.site-header{
	ul{
		padding-left: 0;
		.dropdown{
			border-bottom: 0;
			ul{
				padding-left: 0;
				li{
					text-align: center;
				}
			}
		}
	}
}

ul#news-and-events {
    padding: 0;
    margin: 0;
    li {
	    padding: 0 10px 10px;
	    .cat-title {
		    font-size: 16px;
		    font-weight: bold;
		    text-align: center;
		    background: $hft_light;
		    @include transition-duration(.5s);
		    &:hover {
		    	background: desaturate( $hft_light, 20% );
		    }
		    a {
    		    padding: 10px;
			    color: #fff;
			    display: block;
		    }
	    }
    }
}

.nesidebar {
	.widget {
	    background: $hft_cta;
	    padding: 10px;
	    margin-bottom: 10px;
	
		.widget-title {
		    color: #fff;
		    font-size: 16px;
		    font-weight: bold;
		    text-transform: uppercase;
		}
		
		ul {
		    margin: 0;
		    padding: 0;
			li {
			    display: block;
				a {
				    color: $hft_cta;
				    display: block;
				    background: #fff;
				    margin: 0;
				    padding: 3px 5px;
				    @include transition-duration(.5s);
				    &:hover {
					    background: $hft_cta;
					    color: #fff;
				    }
	    		}
			}
		}
	}
}
.entry-meta {
    font-size: 10px;
}

form.searchform {
    clear: left;
    margin-top: 15px;
}

.searcher {
    display: grid;
    grid-template-columns: 1fr 1fr;;
    grid-column-gap: 3px;
    justify-items: end;
    text-align: right;
}

.sicon .btn.medium {
    height: 30px;
    line-height: 28px;
    border-radius: 4px;
}

/*Admin Bar Fix - Removes the admin bar margin added in by Gumby*/
@include respond(all-phones) {
	#wpadminbar {
	    position: fixed;
	}
}
/*End Admin Bar Fix*/
/*End Resets*/


.tilethis {
	.donate-button {
		float: left;
		margin-top: 13px;
		a {
		    color: #fff;
		    font-size: 16px;
		    padding: 10px 85px;
		    text-align: center;
		    background-color: #f4843e;
		    transition: all .3s;
		    display: inline-block;
			i {
			    color: #fff;
			    margin-left: 10px;
			}
			&:hover {
				background-color: #f7a36e;
			}
		}
	}
	.awards {
		float: right;
		.queens-award{
			background: url('../images/queens-award.png') no-repeat;
			background-size: 100%;
			width: 39px;
			height: 60px;
		    margin: 10px 0px;
		    display: inline;
		    float: right;
		}		
	}
}





.header-top-container{
	padding: 21px 0;
	background-color: $hft_dark;
	.logo{
	}
	@include respond(all-phones){
		min-height: 170px;
		.logo{
			.custom-logo-link{
				display: block;
				img{
					display: block;
					margin: 0 auto;
				}
			}
			.queens-award{
				display: block;
				margin: 10px auto;
			}
		}
	}
	.donate-button-container{
		float: right;
		margin-right: 20px;
		.donate-button{
			@include respond(all-phones){
				float: none;
				display: block;
				margin: 20px auto 0 auto;
			}
			a{

			}
		}
	}
}

.navbar ul#social-icons-menu {
    width: initial !important;
    position: initial;
    background: inherit;
}

.header-bottom-container{

	background-color: $hft_light;

	.menunav {
	    display: inline-block;
		a.toggle {
		    padding: 17px 9px;
			@include respond(all-phones){
			    padding: 9px 9px;
    		}
		    width: 100%;
		}
	}

	.social-icons-container{
		float: right;
		text-align: right;
		height: 40px;
	    display: inline-block;
		.social-icons-list{
			display: inline-block;
			text-align: right;
			padding: 0 8px 8px 0;
			li{
				a{
					font-size: 0;
					padding: 10px;
					width: 19px;
					height: 19px;
					&::before{
						font-size: 20px;
						font-family: FontAwesome;
					}
					&:hover{
						color: #868d92;
					}
				}
			}
		}
		@include respond(all-phones){
			background: none;
			.social-icons-list{
				height: auto;
				max-height: none;
				text-align: left;
				li{
					display: inline-block;
					max-width: 20px;
				}
			}
		}
	}
}

/*
.header-bottom-container{
	
	min-height: 0;
	.primary-menu{
		float: left;
		text-align: left;
		@include respond(all-phones){
			padding-top: 0;
		}
		li{
			a{
				padding: 10px 15px;
				font-size: 14px;
				font-weight: 700;
			}
		}
	}
	.search-bar-container{
		display: inline;	
		position: relative;
		top: -4px;
		.search-open{
			display: inline-block;
		    -webkit-transition: width 0.5s;
		    transition: width 0.5s;
		    width: 0px;
		    margin-left: -1px;
		    margin-top: 8px;
		    height: 31px;
			.searchform{
				margin-bottom: 0;
				.hft-search-field{
					display: inline-block;
					width: 250px;
					height: 28px;
					@include respond(portrait-tablets){
						width: 170px;	
					}
				}
			}
		}
		.search-icon-link{
		    position: relative;
		    top: 2px;
		    margin-right: 17px;
			.fa-search{
				color: #fff;
				&:before{
					font-size: 19px;
				}
			}
		}
	}
}
*/

.sliders {
	background-position: 50%;
    //background: url(http://placekitten.com/720/405/) no-repeat center center;
    background-size: cover;
    height: 0;
    padding-bottom: 46%; 
    width: 100%;
    overflow: hidden;
    img {
		min-width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
    }
	.featured-image-title{
		font-family: 'Bree';
	    position: absolute;
	    top: 70%;
	    right: 0;
	    width: 90%;
	    background: rgb(46, 52, 101);
	    color: #fff;
	    padding: 10px 15px;
	    font-size: 2.5em;
		@include respond(all-phones){
			font-size: 1em;
		}
	    font-weight: bold;
   	}
}

/*
#no-featured-image {
    height: 40px;
}
*/

.banner-image-container{
	max-width: 1200px;
	margin: 0 auto;
	img{
		display: block;
		margin: 0 auto;
	}
	.banner-image-title{
		position: relative;
		top: -200px;
		float: right;
		width: 50%;
		background: rgba( 46, 52, 101, .8 );
		color: #fff;
		padding: 6px 0px 6px 15px;
		min-height: 45px;
		line-height: 45px;
		max-width: 50%;
		@include respond(all-phones){
			display: none;
		}
	}
}

.tabbed-menu-container{
    margin-top: -20px;
    position: relative;
    z-index: 200;
	#tabbed {
	    display: table;
	    vertical-align: middle;
	    margin: 0;
	    float: none;
	    padding: 0px;
        width: 100%;
        min-height: 40px;
	    li:first-child{
		    border-left: 0;
	    }
	    li {
			display: table-cell;
			text-align: center;
			padding-bottom: 0px;
			margin: 0;
			border-left: 2px solid #fff;
   			a{
				padding: 10px;
				color: #fff;
				font-size: 20px;
				font-weight: 700;
				display: block;
				background-color: $hft_light;
				transition: all .3s;
				&:hover {
					background-color: #36c0f2;
				}
			}
	    }
	}
}

.entry-content {
	p {
		a {
			color: $hft_light;
		}
	}
}

.content-container {
    margin: 20px 0px;
    display: inline-block;
}

#child-links {
	padding: 0px;
	li {
	    display: block;
	    padding: 0px;
	    margin: 0px;
		a {
		    background: $light-child-nav;
		    display:block;
		    color: #6c6c6c;
		    padding:10px 20px;
		    @include transition-property(all);
			@include transition-duration($fade-duration);
			&:hover {
				color: #fff;
			    background:darken($light-child-nav, 20%);
			}
		}
	}
	&.parentmenu {
		ul {
			padding: 0;
		}
	}
	
}



.tabbed-pages-container{
	margin-top: 20px;
	.tabs{
		.tab-nav{
			width: 35%;
			float: left;
			li{
				margin-bottom: 0;
				background: #f2f2f2;
				a{
					border-radius: 0;
					color: #6c6c6c;
					height: 50px;
					line-height: 50px;
				}
				&.active{
					top: 0;
					a{
						background: #f2f2f2 !important;
						color: $hft_light;
						border-right: 0;
						height: auto;
						line-height: auto;
					}
				}
			}
			@include respond(all-phones){
				float: none;
				width: 100%;
			}
		}
		.tab-content{
			width: 65%;
			float: right;
			border-left: 0;
			@include respond(all-phones){
				float: none;
				width: 100%;
			}
		}
	}
}

.patient-stories-button-container {
    text-align: right;
    margin-top: 20px;
}

.patient-stories-container{
	.patients-header{
		color: #a8d3e2;
		font-size: 3rem;
		font-weight: 700;
		padding: 30px 0 10px 0;
	}
	a.patient-story-linked{
		padding: 25px;
		background-color: $light-child-nav;
		display: block;
		color: #555555;
		@include transition(all 0.5s ease);
	    min-height: 470px;
		&:hover {
			background-color: darken( $light-child-nav, 10% );
			
		}
		.patient-name{
			color: $hft_light;
			font-weight: 700;
		}
	}
}


.our-units-container{
	margin-top: 40px;
	padding: 0;
	background-color: $hft_light;
    min-height: 170px;
    max-height: 170px;
    @include respond(all-phones){
		min-height: auto;
		max-height: none;
	}
	.our-units-title{
		a {
			color: $hft_lighter;
			@include transition-duration(.5s);
			&:hover {
				color: darken( $hft_lighter, 10% );
			}
		}
		color: #7bd2f1;
		font-size: 40px;
		font-weight: 700;
		@include respond(tablets){
			font-size: 25px;
		}
		@include respond(all-phones){
			font-size: 20px;
		}
	}
	.our-units-desc{
		color: #fff;
		font-size: 18px;
		@include respond(tablets){
			font-size: 15px;
		}
		@include respond(all-phones){
			font-size: 14px;
		}
	}
	.map-link{
		.map-image-bg-link{
			background: url('../images/uk-coverage-map.png') no-repeat;
			background-size: 100%;
			width: 310px;
			height: 170px;
			display: inline-block;
			@include respond(all-phones){
				display: block;
				margin: 0 auto;
				height: 180px;
			}
		}
	}
}


.news-and-events-container{
	.news-and-events-header{
		color: $hft_light;
		font-size: 50px;
		font-weight: 700;
		padding-bottom: 15px;
	}
	.news-event-block{
		.news-event-block-link{
			.event-date{
				margin-bottom: 0;
				color: #bbbbbb;
				font-weight: 700;
				line-height: 1.2rem;
			}
			.news-event-details{
				padding: 0;
				color: $hft_light;
				font-weight: 700;
				line-height: 1.2rem;
				p{
					margin-bottom: 0;
					font-weight: 700;
					line-height: 1.2rem;
				}
			}
			@include respond(all-phones){
				display: block;
				margin: 20px auto;
				.event-date{
					text-align: center;
				}
				.news-event-details{
					text-align: center;
					p{
						text-align: center;
					}
				}
				img{
					display: block;
					margin: 0 auto;
				}
			}
		}
	}
}


.newsletter-container{
	background-color: $hft_dark;
	//margin-top: 40px;
	padding: 20px 0;
	@include respond(all-phones){
		margin-top: 10px;
	}
	.newsletter-header{
		color: #fff;
		font-size: 45px;
		font-weight: 700;
		padding-top: 20px;
		padding-bottom: 0;
	}
	nf-field:first-child {
	    margin-left:0;
	}
	nf-field {
	    display: block;
	    width: 23.5%;
	    display: inline-block;
	    float: left;
	    margin-left: 2%;
	}
	
	
	.nf-after-form-content {
	    clear: both;
	}
	input[type="button"] {
	    box-shadow: initial;
	    background: #f4843e;
	    border: 0;
	    color: #fff;
	    height: 29px;
	    border-radius: 0;
	    transition: all .3s;
	}
	
	input[type="button"]:hover {
	    box-shadow: initial;
	    background: #fea974;
	    border: 0;
	    color: #fff;
	    height: 29px;
	    border-radius: 0;
	}	
	.nf-form-fields-required {
	    color: #fff;
	}
	
	.nf-error-msg {
	    color: #f4843e;
	}

	input.ninja-forms-field {
	    border-radius: 0px;
	    border: 0px;
	}
	.nf-response-msg {
	    color: #fff;
	    margin-top: 30px;
	}
/*
	.nf-form-cont{
		.nf-form-layout{
			float: left;
		}
	}
	.nf-form-title{
		display: none;
	}
	.nf-form-fields-required{
		display: none;
	}
	.ninja-forms-form-wrap *{
		display: inline-block;
	}
	.nf-field-label{
		display: none;
	}
	.nf-before-form-content{
		display: none;
	}
	.nf-field-element{
		padding-right: 10px;
		.ninja-forms-field{
			line-height: 30px;
			font-style: italic;
		}
	}
	.ninja-forms-field{
		min-width: 258px;
		@include respond(tablets){
			min-width: 80px;
		}
		&.newsletters-button{
			min-width: 117px;
		}
	}
	nf-field{
		&:nth-child(4){
			.nf-field-element{
				padding-right: 0;
			}
		}
	}
	.submit-wrap{
		position: relative;
		top: 31px;
		padding-right: 0;
		.nf-field-element{
			padding-right: 0;
		}
		.newsletters-button{
			padding: 5px 30px !important;
			height: 38px;
			width: 89%;
			font-style: normal;
			background-color: #f4843e;
			box-shadow: none;
			text-shadow: none;
			border: none;
			border-radius: 0;
			color: #fff;
			font-weight: 700;
			&:hover{
				cursor: pointer;
			}
		}
	}
	.nf-after-field{
		display: none !important;
	}
	.fa-arrow-circle-right{
		background-color: #f4843e;
	    width: 9%;
	    float: right;
	    position: relative;
	    left: -3px;
	    height: 38px;
		&:before{
			position: relative;
		    top: 12px;
		    left: -18px;
			color: #fff;
		}
		&:hover{
			cursor: pointer;
		}
	}
*/
}

.site-main{
	.post{
		padding: 0 0 20px 0;
	}
	.entry-meta{
		.posted-on{
			.updated{
				display: none;
			}
		}
	}
}

.site-footer{
    background-color: $hft_light;
    .above-footer-container{
    	padding-top: 30px;
    	.widget-title{
    		text-transform: uppercase;
    		color: #fff;
    		font-weight: 700;
    		@include respond(all-phones){
    			text-align: center;
    			padding-top: 20px;
    		}
    	}
    	.widget{
    		&.widget_nav_menu{
    			.menu{
    				li{
    					display: block;
    					a{
    						padding: 10px 0;
    					}
    				}
					@include respond(all-phones){
						li{
							text-align: center;
						}
					}
    			}
    		}
    		#cff {
	    		&.cff-default-styles p {
		    		 line-height: inherit;
	    		}
	    		&.cff-fixed-height {
		    		padding: 0px 5px 0 0;
	    		}
	    		p {
		    		margin: 0px;
	    		}
    		}
    		
    	}
		.textwidget{
			color: #fff;
			line-height: 2rem;
			p{
				line-height: 2rem;
				margin-bottom: 15px;
			}
			@include respond(all-phones){
				text-align: center;
				p{
					text-align: center;
				}
			}
		}
    	.bottom-footer-nav{
    		padding-left: 0;
    		li{
    			display: block;
    		}
    	}
    }
    .below-footer-container{
    	margin-top: 30px;
    	padding-top: 30px;
		@include respond(all-phones){
			margin-top: 0;
		}
    	.line-seperator{
	    	border-top: 1px solid #fff;
		}
    	.site-info{
    		text-align: right;
    		padding: 30px 0;
    		.widget_nav_menu{
				display: inline-block;
				@include respond(all-phones){
					display: block;
				}
				.menu-bottom-footer-nav-container{
					.menu{
						li{
							border-right: 1px solid #fff;
							a{
								@include respond(tablets){
									font-size: 10px;
								}
							}
						}
						@include respond(all-phones){
							text-align: center;
							li{
								display: block;
								border: 0;
							}
						}
					}
				}
			}
    		.bottom-footer-nav{
    			padding-left: 0;
    			display: inline-block;
    			text-align: right;
    			li{
    				padding: 0;
    				border-right: 1px solid #fff;
    				&:last-child{
    					border-right: 0;
    				}
    				a{
    					padding-left: 10px;
    					@include respond(tablets){
    						font-size: 10px;
    					}
    					@include respond(all-phones){
    						padding: 10px 0 0 0;
    					}
    				}
    			}
    			@include respond(all-phones){
    				text-align: center;
    				display: block;
    			}
    		}
    	}
    }
}

li.sp {
    margin: 0 0 10px;
    padding: 0;
}

ul.contact {
    margin: 0;
    padding: 0;
    li {
	    padding: 0;
    }
}

.getcher-twitter-feed {
	ul {
	    margin: 0;
	    padding: 0;
	    li {
		    color: #fff;
		    a {
			    color: $hft_dark;
			    &:hover {
				    color: #fff;
			    }
		    }
	    }
	}
}

.logos {
    margin-top: 20px;
    img {
		@include respond(all-phones){
			max-width: 50%;
		}
    }
}


#news-and-events li.item {
  @include fancytiles(2,2,1);
  min-height: 300px;
  height: auto;
}




.opt-in-banner {
    background-color: #ff8100;
    padding: 40px 0;
	.permissions {
	    font-size: 2.5em;
	    color: #fff;
	    line-height: 10px;
	    position: absolute;
	    bottom: 100px;
		.icon-check {
			margin: 10px 35px;
			position: absolute;
			top: 40px;
		}
		&::after {
		    content: '';
		    width: 80px;
		    height: 80px;
		    position: absolute;
		    border-radius: 50px;
		    border: 5px solid #fff;
		    left: 20px;
		    top: 25px;
		}
	}
	h2 {
	    color: #fff;
	    font-size: 45px;
	    font-weight: 700;
	    padding-top: 20px;
	    padding-bottom: 0;
	}
	h3 {
	    color: #fff;
	    font-size: 35px;
	    font-weight: 700;
	    padding-top: 20px;
	    padding-bottom: 0;
	    line-height:10px;
	    position: relative;
	}
	.content {
	    color: #fff;
	    font-size: 1em;
	    font-weight: 700;
	    padding-top: 20px;
	    padding-bottom: 0;
	    line-height:25px;
	}
}

.nf-form-content {
    color: #444444;
    text-align: left;
    li {
	    float: none;
	    display: block;
    }
}


.nf-response-msg p {
    padding: 30px;
    background: #86c886;
    color: #fff;
}

.nf-form-fields-required {
    color: #444444;
}


