/*--------------------------------------------------------------
5.4 Social Menu
--------------------------------------------------------------*/
.social-icons-list .social-icons-list-items {
	clear: both;
	margin: 0;
	padding:0;
}

.social-icons-list .social-icons-list-items li,
.social-icons-list .social-icons-list-items li a,
.social-icons-list li a::before {
	display: inline-block;
	margin:0;
}

.social-icons-list li a::before {
	content: '';
	text-align: center;
}

/*Changed to the square version of the icons*/
.social-icons-list li a::before { content: '\f0c1'; }
.social-icons-list li a[href*="facebook.com"]::before { content: '\f082'; }
.social-icons-list li a[href*="twitter.com"]::before { content: '\f081'; }
.social-icons-list li a[href*="plus.google.com"]::before { content: '\f0d4'; }
.social-icons-list li a[href*="pinterest.com"]::before { content: '\f0d3'; }
.social-icons-list li a[href*="linkedin.com"]::before { content: '\f08c'; }

/*Regular icons below
.social-icons-list li a[href*="facebook.com"]::before { content: '\f09a'; }
.social-icons-list li a[href*="twitter.com"]::before { content: '\f099'; }
.social-icons-list li a[href*="plus.google.com"]::before { content: '\f0d5'; }
.social-icons-list li a[href*="pinterest.com"]::before { content: '\f0d2'; }
.social-icons-list li a[href*="linkedin.com"]::before { content: '\f0e1'; }
*/
.social-icons-list li a[href*="dribbble.com"]::before { content: '\f17d'; }
.social-icons-list li a[href*="github.com"]::before { content: '\f113'; }
.social-icons-list li a[href*="tumblr.com"]::before { content: '\f173'; }
.social-icons-list li a[href*="youtube.com"]::before { content: '\f16a'; }
.social-icons-list li a[href*="flickr.com"]::before { content: '\f16e'; }
.social-icons-list li a[href*="vimeo.com"]::before { content: '\f194'; }
.social-icons-list li a[href*="instagram.com"]::before { content: '\f16d'; }
.social-icons-list li a[href$="/feed"]::before { content: '\f09e'; }
.social-icons-list li a[href*="behance.net"]::before { content: '\f1b4'; }
.social-icons-list li a[href*="vk.com"]::before { content: '\f189'; }
.social-icons-list li a[href*="soundcloud.com"]::before { content: '\f1be'; }
.social-icons-list li a[href*="reddit.com"]::before { content: '\f1a1'; }
.social-icons-list li a[href^="mailto:"]::before { content: '\f0e0'; }
.social-icons-list li a[href*="deviantart.com"]::before { content: '\f1bd'; }
.social-icons-list li a[href*="foursquare.com"]::before { content: '\f180'; }
.social-icons-list li a[href*="digg.com"]::before { content: '\f1a6'; }
.social-icons-list li a[href*="stumbleupon.com"]::before { content: '\f1a4'; }
.social-icons-list li a[href*="spotify.com"]::before { content: '\f1bc'; }
.social-icons-list li a[href*="dropbox.com"]::before { content: '\f16b'; }
.social-icons-list li a[href*="skype"]::before { content: '\f17e'; }
.social-icons-list li a[href*="twitch.tv"]::before { content: '\f1e8'; }
.social-icons-list li a[href*="wordpress.com"]::before,
.social-icons-list li a[href*="wordpress.org"]::before { content: '\f19a'; }
.social-icons-list li a[href*="xing.com"]::before { content: '\f168'; }
.social-icons-list li a[href*="slideshare.net"]::before { content: '\f1e7'; }
.social-icons-list li a[href*="apple.com"]::before { content: '\f179'; }
.social-icons-list li a:hover::before {color: #5a5b5c;}