li.mini_cart_item {
    display: block;
}

.widget_shopping_cart {
    margin-top: 80px;
    background: #f8f8f8;
    padding: 20px;
}

p.buttons {
    text-align: center;
}

a.button.wc-forward {
	background-color: #f4843e;
	color: #fff;
}

.woocommerce .woocommerce-breadcrumb {
    padding: 20px 0;
    display: inline-block;
}

.shopwrap {
    margin: 20px 0px;
}

.woocommerce 
a.outstock_button {
	font-size: 100%;
	margin-top: 1em;
    line-height: 1;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    overflow: visible;
    padding: .618em 1em;
    font-weight: 700;
    border-radius: 3px;
    left: auto;
    color: #c03d20;
    background-color: #ebe9eb;
    border: 0;
    white-space: nowrap;
    display: inline-block;
    background-image: none;
    box-shadow: none;
    text-shadow: none;
}