/*
Theme Name: Hope for Tomorrow
Theme URI: http://underscores.me/
Author: Elliott Richmond
Author URI: http://www.squareonemd.co.uk
Description: A Hope for Tomorrow theme
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: hope_for_tomorrow
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Hope for Tomorrow is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

hr,img,legend  {
	border:0
}
legend,td,th {
	padding:0
}
hr,p {
	margin-bottom:1.5em
}
pre,textarea {
	overflow:auto
}
.widget select,embed,iframe,img,object,pre {
	max-width:100%
}
html {
	font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;box-sizing:border-box
}
body {
	margin:0;background:#fff
}
article,aside,details,div,figcaption,figure,footer,header,main,menu,nav,section,summary {
	display:block
}
audio,canvas,progress,video {
	display:inline-block;vertical-align:baseline
}
audio:not([controls]) {
	display:none;height:0
}
[hidden],template {
	display:none
}
a {
	background-color:transparent
}
a:active,a:hover {
	outline:0
}
abbr[title] {
	border-bottom:1px dotted
}
b,optgroup,strong {
	font-weight:700
}
cite,dfn,em,i {
	font-style:italic
}
h1 {
	font-size:2em;margin:.67em 0
}
mark {
	color:#000
}
small {
	font-size:80%
}
sub,sup {
	font-size:75%;line-height:0;position:relative;vertical-align:baseline
}
sup {
	top:-.5em
}
sub {
	bottom:-.25em
}
img {
	height:auto
}
svg:not(:root) {
	overflow:hidden
}
figure {
	margin:1em 40px
}
hr {
	box-sizing:content-box;background-color:#ccc;height:1px
}
code,kbd,pre,samp {
	font-family:monospace,monospace;font-size:1em
}
button,input,optgroup,select,textarea {
	color:inherit;font:inherit;margin:0
}
button {
	overflow:visible
}
button,select {
	text-transform:none
}
button,html input[type=button],input[type=reset],input[type=submit] {
	-webkit-appearance:button;cursor:pointer
}
button[disabled],html input[disabled] {
	cursor:default
}
button::-moz-focus-inner,input::-moz-focus-inner {
	border:0;padding:0
}
input[type=checkbox],input[type=radio] {
	box-sizing:border-box;padding:0
}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
	height:auto
}
input[type=search] {
	-webkit-appearance:textfield;box-sizing:content-box
}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {
	-webkit-appearance:none
}
fieldset {
	border:1px solid silver;margin:0 2px;padding:.35em .625em .75em
}
textarea {
	padding-left:3px;width:100%
}
body,button,input,select,textarea {
	color:#404040;font-size:16px;font-size:1rem;
}
h1,h2,h3,h4,h5,h6 {
	clear:both
}
blockquote {
	margin:0 1.5em
}
address {
	margin:0 0 1.5em
}
pre {
	background:#eee;font-family:"Courier 10 Pitch",Courier,monospace;font-size:15px;font-size:.9375rem;line-height:1.6;margin-bottom:1.6em;padding:1.6em
}
code,kbd,tt,var {
	font-family:Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace;font-size:15px;font-size:.9375rem
}
abbr,acronym {
	border-bottom:1px dotted #666;cursor:help
}
ins,mark {
	background:#fff9c0;text-decoration:none
}
big {
	font-size:125%
}
*,:after,:before {
	box-sizing:inherit
}
blockquote:after,blockquote:before,q:after,q:before {
	content:""
}
blockquote,q {
	quotes:"" ""
}
ol,ul {
	margin:0 0 1.5em 3em
}
ul {
	list-style:disc
}
ol {
	list-style:decimal
}
li>ol,li>ul {
	margin-bottom:0;margin-left:1.5em
}
dt {
	font-weight:700
}
dd {
	margin:0 1.5em 1.5em
}
table {
	border-collapse:collapse;border-spacing:0;margin:0 0 1.5em;width:100%
}
/*
button,input[type=button],input[type=reset],input[type=submit] {
	border:1px solid;border-color:#ccc #ccc #bbb;border-radius:3px;background:#e6e6e6;box-shadow:inset 0 1px 0 rgba(255,255,255,.5),inset 0 15px 17px rgba(255,255,255,.5),inset 0 -5px 12px rgba(0,0,0,.05);color:rgba(0,0,0,.8);font-size:12px;font-size:.75rem;line-height:1;padding:.6em 1em .4em;text-shadow:0 1px 0 rgba(255,255,255,.8)
}
button:hover,input[type=button]:hover,input[type=reset]:hover,input[type=submit]:hover {
	border-color:#ccc #bbb #aaa;box-shadow:inset 0 1px 0 rgba(255,255,255,.8),inset 0 15px 17px rgba(255,255,255,.8),inset 0 -5px 12px rgba(0,0,0,.02)
}
button:active,button:focus,input[type=button]:active,input[type=button]:focus,input[type=reset]:active,input[type=reset]:focus,input[type=submit]:active,input[type=submit]:focus {
	border-color:#aaa #bbb #bbb;box-shadow:inset 0 -1px 0 rgba(255,255,255,.5),inset 0 2px 5px rgba(0,0,0,.15)
}
*/
input[type=text],input[type=email],input[type=url],input[type=password],input[type=search],textarea {
	color:#666;border:1px solid #ccc;border-radius:3px
}
input[type=text]:focus,input[type=email]:focus,input[type=url]:focus,input[type=password]:focus,input[type=search]:focus,textarea:focus {
	color:#111
}
input[type=text],input[type=email],input[type=url],input[type=password],input[type=search] {
	padding:3px
}
.main-navigation {
	clear:both;display:block;float:left;width:100%
}
.main-navigation ul {
	display:none;list-style:none;margin:0;padding-left:0
}
.main-navigation li {
	float:left;position:relative
}
.main-navigation a {
	display:block;text-decoration:none
}
.main-navigation ul ul {
	box-shadow:0 3px 3px rgba(0,0,0,.2);float:left;position:absolute;top:1.5em;left:-999em;z-index:99999
}
.main-navigation ul ul ul {
	left:-999em;top:0
}
.main-navigation ul ul a {
	width:200px
}
.main-navigation ul li.focus>ul,.main-navigation ul li:hover>ul {
	left:auto
}
.main-navigation ul ul li.focus>ul,.main-navigation ul ul li:hover>ul {
	left:100%
}
.main-navigation.toggled ul,.menu-toggle {
	display:block
}
@media screen and (min-width:37.5em) {
	.menu-toggle {
	display:none
}
.main-navigation ul {
	display:block
}

}
.site-main .comment-navigation,.site-main .post-navigation,.site-main .posts-navigation {
	margin:0 0 1.5em;overflow:hidden
}
.comment-navigation .nav-previous,.post-navigation .nav-previous,.posts-navigation .nav-previous {
	float:left;width:50%
}
.comment-navigation .nav-next,.post-navigation .nav-next,.posts-navigation .nav-next {
	float:right;text-align:right;width:50%
}
.screen-reader-text {
	clip:rect(1px,1px,1px,1px);position:absolute!important;height:1px;width:1px;overflow:hidden
}
.screen-reader-text:active,.screen-reader-text:focus,.screen-reader-text:hover {
	background-color:#f1f1f1;border-radius:3px;box-shadow:0 0 2px 2px rgba(0,0,0,.6);clip:auto!important;color:#21759b;display:block;font-size:14px;font-size:.875rem;font-weight:700;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000
}
.archive .format-aside .entry-title,.blog .format-aside .entry-title,.widget_search .search-submit {
	display:none
}
.comment-content a {
	word-wrap:break-word
}
.bypostauthor {
	display:block
}
.infinite-scroll .posts-navigation,.infinite-scroll.neverending .site-footer {
	display:none
}
.infinity-end.neverending .site-footer {
	display:block
}
.comment-content .wp-smiley,.entry-content .wp-smiley,.page-content .wp-smiley {
	border:none;margin-bottom:0;margin-top:0;padding:0
}
	